<%= form_for([@person],:html=>{class:'person_form1',id:'person_form1',style:'display:block;'}) do |f| %>
<div class="col-md-8">
  <div class="row">
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-12">
    <%= f.label :nombres %>
  <div class="form-group">
    <%= f.text_field :nombres ,{class:"form-control"}%>
  </div>
  </div>
  <div class="col-md-6">
    <%= f.label 'Apellido Paterno'%><br>
  <div class="form-group">
    <%= f.text_field :ape_pat ,{class:"form-control"}%>
  </div>
  </div>
  <div class="col-md-6">
    <%= f.label 'Apellido Materno' %><br>
  <div class="form-group">
    <%= f.text_field :ape_mat,{class:"form-control"}%>
  </div>
  </div>
  <div class="col-md-6">
    <%= f.label :dni %><br>
  <div class="form-group">
    <%= f.text_field :dni,{class:"form-control"} %>
  </div>
  </div>
  <div class="col-md-6">
    <%= f.label :celular %><br>
  <div class="form-group">
    <%= f.number_field :celular,{class:"form-control"} %>
  </div>
  </div>
  <div class="col-md-6">
    <%= f.label "Celular Alternativo(Opcional)" %><br>
  <div class="form-group">
    <%= f.text_field :celular_op,{class:"form-control"} %>
  </div>
  </div>
  <div class="col-md-12">
    <%= f.label :sexo %><br>
  <div class="form-group">
   <div class="checkbox-inline">
         <label><%= f.radio_button :sexo, true %> Hombre</label>
      </div>
      <div class="checkbox-inline">
         <label><%= f.radio_button :sexo, false %> Mujer</label>
      </div>
  </div>
  </div>
  <div class="col-md-12">
    <%= f.label :f_nacimiento %><br>
  <div class="form-group">
    <%=f.date_select(:f_nacimiento, {prompt: {day: 'Dia', month: 'Mes', year: 'Año'},start_year: 1940, end_year: Date.today.year,order: [:day, :month, :year]},{class:'form-control inline',style:'display:inline;width:auto'})%>
  </div>
  </div>
  <div class="col-md-12">
    <%= f.label :email %><br>
  <div class="form-group">
    <%= f.text_field :email,{class:"form-control"} %>
  </div>
  </div>
 
  <div class="col-md-12">
    <%= f.label :district_id %><br>
    <div class="form-group">
      <%=f.grouped_collection_select :district_id, @provincias, :district,:nombreprov,:id,:nombredist,{prompt:'Selecciona Distritos'},{class:'form-control'}%>
    </div>
  </div>
  <div class="col-md-12">
    <%= f.label :direccion %><br>
    <div class="form-group">
      <%= f.text_field :direccion,{class:"form-control"} %>
    </div>
  </div>
  <div class="col-md-6">
    <%= f.label :profesion %><br>
  <div class="form-group">
    <%= f.text_field :profesion,{class:"form-control"} %>
  </div>
  </div>
  <div class="col-md-6">
    <%= f.label :grado_acad %><br>
  <div class="form-group">
    <%= f.text_field :grado_acad,{class:"form-control"} %>
  </div>
  </div>
</div>
</div>

<div class="col-md-4">
<label>Cursos</label>

<%=f.nested_fields_for :subsidiaries do |sub|%>
<div class="card">
  <div class="card-block" style="border-bottom:solid 1px #ddd;">
  <h5>Asignar curso - <%=sub.remove_nested_fields_link  'Eliminar'%></h5>

    <div class="row card-contenedor-cambio-curso">
      <div class="col-sm-12">
      <%= select_tag "tipo", options_for_select([['Diplomado','1'], ['Maestría', '2'],['Doctorado', '3']]),class:'people_cursos_tipo form-control' %>
      </br>
      <%=select_tag "people_categories", options_from_collection_for_select(@categorias,"id","nombre"),{class:'form-control people_categories'}%>
      </br>
      <%= text_field_tag "programations_id","EY",{class:'people_programations'}%>
        
      </div>
    </div>
    </div>
    <div class="card-block">
    <div class="row">
      <div class="col-xs-10" ">
      <%= text_field_tag '',Person.buscar_prog(sub.object.programation_id),{class:'form-control people_programation_full',disabled:'true'}%>
      </div>
      <div class="col-xs-2">
        
        <%=button_tag 'cambiar',{class:' pull-right people_programation_change btn ',type:'button'}%>
      </div>
        
        <%= sub.hidden_field :programation_id,{class:'people_programation_hidden'} %>
        <div class="col-xs-12" style="margin-top:1em;">
          
          <div class="form-group">
            
          <%= sub.check_box :estado ,{:data => { :'on-text' => 'Activo',:'off-text' => 'Inactivo' },class:'check-switch'}%>
          </div>
        </div>

        <div class="col-xs-12" style="margin-top:1em;">
          
          <div class="form-group">
            
          <%= sub.check_box :leido ,{:data => { :'on-text' => 'Leido',:'off-text' => 'No leido' },class:'check-switch'}%>
          </div>
        </div>
    </div>
    
  </div>
</div>
  
<%end%>  
</div>
<%=f.add_nested_fields_link :subsidiaries, 'Nueva matricula'%>

<div class="col-md-12">
    <%= f.submit 'Guardar',{class:'btn btn-success'}%>
</div>
<% end %>
