<p id="notice"><%= notice %></p>

<p>
  <strong>Nombres:</strong>
  <%= @person.nombres %>
</p>

<p>
  <strong>Ape pat:</strong>
  <%= @person.ape_pat %>
</p>

<p>
  <strong>Ape mat:</strong>
  <%= @person.ape_mat %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @person.sexo %>
</p>

<p>
  <strong>F nacimiento:</strong>
  <%= @person.f_nacimiento %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @person.celular %>
</p>

<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<p>
  <strong>District:</strong>
  <%= @person.district %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @person.direccion %>
</p>

<p>
  <strong>Profesion:</strong>
  <%= @person.profesion %>
</p>

<p>
  <strong>Grado acad:</strong>
  <%= @person.grado_acad %>
</p>

<p>
  <strong>User:</strong>
  <%= @person.user %>
</p>

<p>
  <strong>Dni:</strong>
  <%= @person.dni %>
</p>

<p>
  <strong>Celular op:</strong>
  <%= @person.celular_op %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
