
<%=form_for(@user) do |u|%>
<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-12">
    <%= u.label 'Nombre de usuario' %>
    <div class="form-group">
    <%= u.text_field :username ,{class:"form-control"}%>
    </div>
  </div>
  <div class="col-md-12">
    <%= u.label 'Contraseña' %><br>
    <div class="form-group">
      <%= u.password_field :password ,{class:"form-control"}%>
    </div>
  </div>
  <div class="col-md-12">
    <%= u.label 'Confirmar contraseña' %><br>
<div class="form-group">
    <%= u.password_field :password_digest,{class:"form-control"} %>
  </div>
  </div>

   <%= u.submit 'Guardar' ,{class:'btn btn-success'}%>

<%end%>
