
<div class="fh5co-contact " style="padding-top:0">
  <div class="container ">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-md-5 col-md-offset-4">
<p id="notice"><%= notice %></p>
<h3>Información de Usuario</h3>
              <form class="form well">
                <div class="row">

                <div class="col-sm-12">
                  <div class="form-group">
                    <label class=" control-label">Username</label>
                    <div class="col-sm-12">
                        <p class="form-control-static"> <%= @user.username %></p>
                    </div>
                  </div>
              </div>
              <div class="col-sm-12">
                  <div class="form-group">
                    <label class=" control-label">Password(Encriptado)</label>
                    <div class="col-sm-12">
                        <p class="form-control-static" style="text-wrap:wrap;"> <%= @user.password_digest %></p>
                    </div>
                  </div>
              </div>

              </div>
<%= link_to 'Editar', edit_user_path(@user) %> |
<%= link_to 'Regresar', users_path %>
              </form>




      </div>
    </div>
  </div>
</div>