
	
	<div class="container">
			<%unless current_user%>
				<div class="row">
					<div class="col-sm-12">
						<span><%= link_to 'Inicia sesión' , login_url%></span>
					</div>
				</div>
				<%end%>
	</div>
	<aside id="fh5co-hero" class="js-fullheight">
		<div class="flexslider js-fullheight">
			<ul class="slides">
		   	<li style="background-image: url(<%=asset_path 'carrousel1.jpg'%>);">
		   		<div class="overlay-gradient"></div>
		   		<div class="container">
		   			<div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
		   				<div class="slider-text-inner">
		   					<h2>Complementa Tus Conocimientos a Corto Plazo</h2>
		   					<p><a href="#" class="btn btn-primary btn-lg">Registrate!</a></p>
		   				</div>
		   			</div>
		   		</div>
		   	</li>
		   	<li style="background-image: url(<%=asset_path 'carrousel3.jpg' %>);">
		   		<div class="container">
		   			<div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
		   				<div class="slider-text-inner">
		   					<h2>Aprende Desde Cualquier Lugar..No hay Límites</h2>
		   					<p><a href="#" class="btn btn-primary btn-lg">Registrate!</a></p>
		   				</div>
		   			</div>
		   		</div>
		   	</li>
		   	<li style="background-image: url(<%=asset_path 'carrousel4.jpg'%>);">
		   		<div class="container">
		   			<div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
		   				<div class="slider-text-inner">
		   					<h2>Obtén un Diplomado y Marca la Diferencia</h2>
		   					<p><a href="#" class="btn btn-primary btn-lg">Registrate!</a></p>
		   				</div>
		   			</div>
		   		</div>
		   	</li>
		  	</ul>
	  	</div>
	</aside>
	<div id="fh5co-services-section">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading ">
					<h2>Especializaciones en Diferentes Rubros </h2>
					<p>Tienes disponible un abanico de posibilidades laborales por eso te ofrecemos cursos categorizados estrategicamente para tu conveniencia </p>
				</div>
			</div>
			<div class="row" >
				<% @categorias.each do |cat|%>
				<div class="col-md-4 ">
					<div class="services" style="">
						<div style="width:60px;display:inline-block;position:absolute;top:20px">
						<%= image_tag cat.imagen.url(:mini),class:'img img-thumbnail' %>
						</div>
						<div class="desc" style="display:inline-block">
							<h3><%=cat.nombre%></h3>
							<p><%=cat.descripcion%></p>
						</div>
					</div>
				</div>
				<%end%>
				
			</div>
		</div>
	</div>
	<div id="fh5co-work-section" class="fh5co-light-grey-section">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading animate-box">
					<h2>Nuestros cursos</h2>
					<p>Los cursos constituyen una valiosa opción de capacitación y actualización de corto plazo que permite la aplicación puntual y efectiva de conocimientos y herramientas de utilidad en el competitivo ámbito laboral.</p>
				</div>
			</div>
			<div class="row">
			<%@cursos.each do |curso|%>
					<div class="col-md-4 ">
						<div class="panel panel-default panel-profile m-b-0">
							<div class="panel-heading" style="background-image: url(<%=curso.imagen.url(:thumb)%>)">
								
							</div>
							<div class="panel-body text-center">
							<img src=<%=asset_path 'book.png'%> class="panel-profile-img" alt="">
							
								<h5 class="panel-title titulo"><%=curso.titulo%></h5>
								<p class="m-b"><%=curso.contenido%></p>
								<a href="#" class="btn btn-info btn-primary-outline btn-sm m-b">
									<span class="icon icon-add-user"></span>
									Ver curso
								</a>
							
						</div>
					</div>
				</div>
			<%end%>

			<div class="col-md-12 text-center ">
					<p><a href="#" class="btn btn-primary with-arrow">Ver todos!<i class="icon-arrow-right"></i></a></p>
				</div>

			</div>

		</div>
	</div>

	<div id="fh5co-pricing-section">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading ">
					<h2>Precios</h2>
					<p>Se acabaron las excusas, elige un plan que se adecue a tus necesidades </p>
				</div>
			</div>
			<div class="row">
				<div class="pricing">
					<div class="col-md-3 ">
						<div class="price-box">
							<h2 class="pricing-plan">Iniciante</h2>
							<div class="price"><sup class="currency">$</sup>9<small>/mes</small></div>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, explicabo, accusantium? Quibusdam quo aliquid </p>
							<a href="#" class="btn btn-select-plan btn-sm">Select Plan</a>
						</div>
					</div>

					<div class="col-md-3">
						<div class="price-box">
							<h2 class="pricing-plan">Básico</h2>
							<div class="price"><sup class="currency">$</sup>27<small>/mes</small></div>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident sapiente voluptas laborum distinctio ullam, quod id asdsa</p>
							<a href="#" class="btn btn-select-plan btn-sm">Seleccionar!</a>
						</div>
					</div>

					<div class="col-md-3 ">
						<div class="price-box popular">
							<h2 class="pricing-plan pricing-plan-offer">Pro <span>Mejor Oferta</span></h2>
							<div class="price"><sup class="currency">$</sup>74<small>/mes</small></div>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo placeat, magni iure reiciendis, a iste beatae sit non asass let miaressa</p>
							<a href="#" class="btn btn-select-plan btn-sm">Seleccionar!</a>
						</div>
					</div>

					<div class="col-md-3 ">
						<div class="price-box">
							<h2 class="pricing-plan">Ilimitado</h2>
							<div class="price"><sup class="currency">$</sup>140<small>/mes</small></div>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus dolor rerum aspernatur nemo inventore tempora. </p>
							<a href="#" class="btn btn-select-plan btn-sm">Seleccionar!</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-testimony-section">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading ">
					<h2>Nuestros convenios</h2>
					<p> Tenemos alianzas con las más prestigiosas Universidades del País, que unidos te ofrecemos la mejor experiencia educativa</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-offset-0 to-animate">
					<div class="wrap-testimony well ">
						<div class="row" style="padding:3em 3em;">
							<div class="carrosel-afiliados" style="border:1px solid #fff;">
								<div class="div" style="margin:10px">
									<div style="">
										<img src=<%=asset_path 'unmsm.png'%> style="max-width:100%;height:auto;" alt="">
									</div>
									<h5 class="text-center">Universidad Nacional Mayor de San Marcos</h5>
								</div>
								<div class="div" style="margin:10px;">
									<div style="">
										<img src=<%=asset_path 'unt.png'%> style="max-width:100%;height:auto;" alt="">
									</div>
										
									<h5 class="text-center">Universidad Nacional de Trujillo</h5>
								</div>
								<div class="div" style="margin:10px;">
									<div style="">
										<img src=<%=asset_path 'sin-imagen.png'%> style="max-width:100%;height:auto;" alt="">
									</div>
									<h5 class="text-center"> Aqui el nombre de la institución</h5>
								</div>
								<div class="div" style="margin:10px";>
									<div style="">
										<img src=<%=asset_path 'sin-imagen.png'%> style="max-width:100%;height:auto;" alt="">
									</div>
									<h5 class="text-center"> Aqui el nombre de la institución</h5>
								</div>
								<div class="div" style="margin:10px">
									<div style="">
										<img src=<%=asset_path 'sin-imagen.png'%> style="max-width:100%;height:auto;" alt="">
									</div>
									<h5 class="text-center"> Aqui el nombre de la institución</h5>
								</div>
								<div class="div" style="margin:10px">
									<div style="">
										<img src=<%=asset_path 'sin-imagen.png'%> style="max-width:100%;height:auto;" alt="">
									</div>
									<h5 class="text-center"> Aqui el nombre de la institución</h5>
								</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	

	<div class="fh5co-cta" style="background-image: url(<%=asset_path 'slide_2.jpg'%>);">
		<div class="overlay"></div>
		<div class="container">
			<div class="col-md-12 text-center ">
				<h3>Confía en tu futuro, confía en PRONACADES</h3>
				<p><a href="#" class="btn btn-primary btn-outline with-arrow">Registrate ahora! <i class="icon-arrow-right"></i></a></p>
			</div>
		</div>
	</div>

	
	<footer id="fh5co-footer" role="contentinfo">
	
		<div class="container">
			<div class="col-md-3 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
				<h3>Sobre Nosotros</h3>
				<p>Somos una empresa dedicada a ofrecer diplomados, para ello nos aliamos con Instituciones de primer nivel. </p>
				<p><a href="#" class="btn btn-primary btn-outline with-arrow btn-sm">Registrate <i class="icon-arrow-right"></i></a></p>
			</div>
			<div class="col-md-6 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
				<h3>Nuestros Servicios</h3>
				<ul class="float">
					<li><a href="#">Diplomados</a></li>
					<li><a href="#">Maestrías</a></li>
					<li><a href="#">Doctorados</a></li>
				</ul>

			</div>

			<div class="col-md-2 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
				<h3>Contactanos</h3>
				<ul class="fh5co-social">
					<li><h5 style="color: rgba(255, 255, 255, 0.5);"><i class="glyphicon glyphicon-map-marker"></i>alguna direccion</h5></li>
					<li><h5 style="color: rgba(255, 255, 255, 0.5);"><i class="glyphicon glyphicon-earphone"></i>(#) 073-630693</h5></li>
					<li><h5 style="color: rgba(255, 255, 255, 0.5);"><i class="glyphicon glyphicon-earphone"></i>920111091-938566519</h5></li>
					<li><h5 style="color: rgba(255, 255, 255, 0.5);"><i class="glyphicon glyphicon-envelope"></i>algun@correo.com</h5></li>
				</ul>
			</div>
			
			
			<div class="col-md-12 fh5co-copyright text-center">
				<p>&copy; 2016. Todos los Derechos Reservados. <span>Realizado por<i class="icon-heart"></i>  <a href="#" target="_blank">Gcode.ln</a> </span></p>	
			</div>
			
		</div>
	</footer>
	