<%content_for :title do %>
 <title>Proncades</title>
<%end%>
	<ul class="sociales">
		<li class="sociales-item"><a class="sociales-link sociales-link--facebook icon-facebook" href="https://www.facebook.com/diplomados.unmsm.9?fref=ts" target="_blank"></a></li>
		<li class="sociales-item"><a class="sociales-link sociales-link--twitter icon-twitter" href="#"></a></li>
		<li class="sociales-item"><a class="sociales-link sociales-link--google-plus icon-google-plus" href="#"></a></li>
		<li class="sociales-item"><a class="sociales-link sociales-link--emailxd icon-emailxd" href="postgrado@proncades.com" target="_blank"></a></li>
	</ul>
	
	<aside id="fh5co-hero" class="js-fullheight">
		<div class="logo-index-unmsm">
			<img src=<%=asset_path 'logo-san-marcos.png'%> style="max-width:100%;
			height:auto;" alt="">
		</div>

		<div class="logo-index-trujillo">
			<img src=<%=asset_path 'unt.png'%> style="max-width:100%;
			height:auto;" alt="">
		</div>

		

		<div class="flexslider js-fullheight">
			<ul class="slides">
		   	<li style="background-image: url(<%=asset_path 'carrousel1.jpg'%>);">
		   		<div class="overlay-gradient"></div>
		   		<div class="container">
		   			<div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
		   				<div class="slider-text-inner">
		   					<h2>Programa Nacional de Capacitacion y Desarrollo Social</h2>
		   					<p><%= link_to 'Registrate', signup_path ,class:'btn btn-primary btn-lg'%></p>
		   				</div>
		   			</div>
		   		</div>
		   	</li>
		   	<li style="background-image: url(<%=asset_path 'carrousel3.jpg' %>);">
		   		<div class="container">
		   			<div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
		   				<div class="slider-text-inner">
		   					<h2>Certificado de la Universidad Nacional Mayor de San Marcos</h2>
		   					<p><%= link_to 'Registrate', signup_path ,class:'btn btn-primary btn-lg'%></p>
		   				</div>
		   			</div>
		   		</div>
		   	</li>
		   	<li style="background-image: url(<%=asset_path 'carrousel4.jpg'%>);">
		   		<div class="container">
		   			<div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
		   				<div class="slider-text-inner">
		   					<h2>Obtén un Diplomado y Marca la Diferencia</h2>
		   					<p><%= link_to 'Registrate', signup_path ,class:'btn btn-primary btn-lg'%></p>
		   				</div>
		   			</div>
		   		</div>
		   	</li>
		  	</ul>
	  	</div>
	</aside>
	<div id="verify-section" style="background:brown;" class="animate-box ">
		<div class="container text-center" >
		<div class="col-xs-10 col-md-8 col-xs-offset-1 col-md-offset-2" style="padding:3em 0;">
			<h1 style="font-weight:bold;color:#fff;" class="m-b">VERIFICA TU MATRICULA</h1>
			<h4 style="color:#fff;" class="m-b-lg">Ingresa tu nombre de usuario</h4>
			<%=form_tag verificar_url,{:"data-parsley-validate"=>'true',method:'get'} do%>
			<div class="row row-personalizado " >
				
					<div class="col-xs-12 col-sm-9 m-b-hasta-sm "
					 style="padding:0">
						<%=text_field_tag 'username','',{class:'form-control input-sin-outline',style:'padding:1em .1em;font-size:30px','data-parsley-length':'[5,12]',required:true}%>
					</div>
					<div class="col-xs-12 col-sm-3 " style="padding:none;">
						<%=submit_tag 'VERIFICAR',{class:'btn btn-warning  btn-block',style:'padding:1em 0'}%>
					</div>
			</div>
				<%end%>
		</div>
		</div>
	</div>
	<div id="fh5co-services-section" class="animate-box quitar-padding">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading ">
					<h2 class="titulo-seccion-index">Especializaciones y Diplomados en diferentes rubros</h2>
					<p class="subtitulo-section-index">Tienes disponible un abanico de posibilidades laborales por eso te ofrecemos cursos categorizados estrategicamente para tu conveniencia </p>
				</div>
			</div>
			<div class="row flex-in-md" >
				<% @categorias.each do |cat|%>
					<div class="col-md-4 " >
						<div class="services" >
							<div style="width:57px;display:inline-block;position:absolute;top:20px;box-sizing:border-box;">
							<%= image_tag cat.imagen.url(:mini),class:'img img-thumbnail' %>
							</div>
							<div class="desc" style="display:inline-block">
								<h3><%=cat.nombre%></h3>
								<p class="romper-linea"><%=cat.descripcion%></p>
							</div>
						</div>
					</div>
				<%end%>
				
			</div>
		</div>
	</div>
	<div id="fh5co-work-section" class=" seccion-fondo-color-secundario animate-box quitar-padding">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<h2 class="titulo-seccion-index">Servicios</h2>
					<p class="subtitulo-section-index">Los cursos constituyen una valiosa opción de capacitación y actualización de corto plazo que permite la aplicación puntual y efectiva de conocimientos y herramientas de utilidad en el competitivo ámbito laboral.</p>
				</div>
			</div>
			<div class="row">


			<div class="col-md-4" >
					<div class="panel panel-default panel-profile " >
							<div class="panel-body text-center" style="position:relative;background:#e67e22;height:150px;">
								<h4 class="panel-title titulo" style="text-transform:uppercase;">Diplomados y Especializaciones</h4>
							</div>
							<div class="" style="">
								<a href="/cursos?t=1" class="btn text-center btn-block panel-boton" style="font-size:17px">MOSTRAR</a>
							</div>
							
					</div>
				</div>


			<div class="col-md-4 ">
						<div class="panel panel-default panel-profile ">
							<div class="panel-body text-center" style="position:relative;background:#d35400;height:150px;">
								<h4 class="panel-title titulo" style="text-transform:uppercase;">Maestrías</h4>
						</div>
						<div class="" style="">
							<a href="/cursos?t=2" class="btn text-center btn-block panel-boton" style="font-size:17px">MOSTRAR</a>
						</div>
					</div>
				</div>


			<div class="col-md-4 ">
						<div class="panel panel-default panel-profile ">
							<div class="panel-body text-center" style="position:relative;background:#c0392b;height:150px;">
								<h4 class="panel-title titulo" style="text-transform:uppercase;">Doctorados</h4>
						</div>
						<div class="" style="">
							<a href="/cursos?t=3" class="btn text-center btn-block panel-boton" style="font-size:17px">MOSTRAR</a>
						</div>
					</div>
				</div>
				<!--
			<%@cursos.uniq.each do |curso|%>
					<div class="col-md-4 ">
						<div class="panel panel-default panel-profile m-b-0">
							<div class="panel-heading" style="background-image: url(<%=curso.imagen.url(:thumb)%>)">
								
							</div>
							<div class="panel-body text-center" style="position:relative;">
														
							
								<h5 class="panel-title titulo"><%=curso.titulo%></h5>
								<%if curso.programations.size==1%>
									<p>En <%=curso.programations.size%> Institución</p>
								<%elsif curso.programations.size>1%>
									<p>En <%=curso.programations.size%> Instituciones</p>
								<%else%>
									<h6>Pronto disponible</h6>
								<%end%>
								<p class="m-b"></p>
								<a href="/curso/<%=curso.id%>" class="btn btn-info btn-primary-outline btn-sm m-b">
									<span class="icon icon-add-user"></span>
									Ver curso
								</a>
							
						</div>
					</div>
				</div>
			<%end%>-->

			

			</div>

		</div>
	</div>
	<div id="precios" class="animate-box ">
	<div id="fh5co-pricing-section" class="quitar-padding">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading ">
					<h2 class="titulo-seccion-index">Precios</h2>
					<p class="subtitulo-section-index">Se acabaron las excusas, por ser un programa social los precios son accesibles para tí </p>
				</div>
			</div>
			<div class="row" style="display:flex;justify-content:center;flex-wrap:wrap;align-items:flex-start;">
			<div class="col-md-6 call-center" style="">
				<div class="call-center-container" style="text-align: right;padding-top: 5em;position: relative;" >
				<a href="/contacto" >
					<img src=<%=asset_path 'call.png'%> style="max-width:70% !important; height:auto;"></img>
					<p style="width: 100%;display:block;text-align: center;font-size: 1.7em;">Contáctanos</p>
				</a>
					<img src=<%=asset_path 'telefono.gif'%> alt="" class="call-center-gif" style="position: absolute;display: block;z-index: 40; top:79%; right: 15px;width: 38px;">
				</div>
			</div>




			<div class="col-md-6">
				<div class="pricing">
					<div class="col-md-12">
						<div class="price-box">
							<h2 class="pricing-plan">UNIVERSIDAD NACIONAL MAYOR DE SAN MARCOS</h2>
							<div class="col-xs-12">

							<div class="pricing-item">
								<p class="text-left pricing-subtitulo">Diplomados</p>
									<div class="price"  style="width:49%;">
										<sup class="currency">s./</sup>100<small style="color:#888f94">/matricula</small>
									</div>
									<div class="price"  style="width:49%;">
										<sup class="currency">s./</sup>100<small style="color:#888f94">/mensualidad</small>
									</div>
							</div>

							<div class="pricing-item">
								<p class="text-left pricing-subtitulo">Especializaciones</p>
									<div class="price"  style="width:49%;">
										<sup class="currency">s./</sup>150<small style="color:#888f94">/matricula</small>
									</div>
									<div class="price"  style="width:49%;">
										<sup class="currency">s./</sup>120<small style="color:#888f94">/mensualidad</small>
									</div>
									
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="col-md-6">
				<div class="pricing">
					<div class="col-md-12" >
						<div class="price-box">
							<h2 class="pricing-plan">UNIVERSIDAD NACIONAL DE TRUJILLO</h2>
							<div class="col-xs-12">

							<div class="pricing-item">
								<p class="text-left pricing-subtitulo">Diplomados</p>
									<div class="price"  style="width:49%;">
										<sup class="currency">s./</sup>80<small style="color:#888f94">/matricula</small>
									</div>
									<div class="price"  style="width:49%;">
										<sup class="currency">s./</sup>80<small style="color:#888f94">/mensualidad</small>
									</div>
							</div>

							<div class="pricing-item">
								<p class="text-left pricing-subtitulo">Especializaciones</p>
									<div class="price"  style="width:49%;">
										<sup class="currency">s./</sup>100<small style="color:#888f94">/matricula</small>
									</div>
									<div class="price"  style="width:49%;">
										<sup class="currency">s./</sup>100<small style="color:#888f94">/mensualidad</small>
									</div>
									
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="col-md-6">
				<div class="pricing">
					<div class="col-md-12">
						<div class="price-box">
							<h2 class="pricing-plan">UNIVERSIDAD LA CANTUTA</h2>
							<div class="col-xs-12">

							<div class="pricing-item">
								<p class="text-left pricing-subtitulo">Diplomados</p>
									<div class="price"  style="width:49%;">
										<sup class="currency">s./</sup>100<small style="color:#888f94">/matricula</small>
									</div>
									<div class="price"  style="width:49%;">
										<sup class="currency">s./</sup>100<small style="color:#888f94">/mensualidad</small>
									</div>
							</div>

							<div class="pricing-item">
								<p class="text-left pricing-subtitulo">Especializaciones</p>
									<div class="price"  style="width:49%;">
										<sup class="currency">s./</sup>100<small style="color:#888f94">/matricula</small>
									</div>
									<div class="price"  style="width:49%;">
										<sup class="currency">s./</sup>100<small style="color:#888f94">/mensualidad</small>
									</div>
									
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>

		</div>
		<div class="row">
			<!--<div class="col-md-12 text-center">
				<a href="/pagos" style="font-size:2em;font-weight:bold;text-transform:uppercase">consulta los métodos de pago</a>
			</div>-->
		</div>
	</div>
	</div>
<div class="linea-horizontal">
	
</div>
	<div id="fh5co-testimony-section" class="animate-box quitar-padding">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading ">
					<h2 class="titulo-seccion-index">Certificado por</h2>
					<p class="subtitulo-section-index"> Tenemos convenios con las más prestigiosas Universidades del País, que unidos te ofrecemos la mejor experiencia educativa</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-offset-0 to-animate">
					<div class="wrap-testimony well ">
						<div class="row" style="padding:3em 3em;">
							<div class="carrosel-afiliados" style="border:1px solid #fff;">
								<%@instituciones.each do |ins|%>
									<div class="div" style="margin:10px;">
										<div style="">
											<img src=<%=ins.imagen.url(:mini)%> style="max-width:100%;height:auto;margin:auto;" alt="">
										</div>
										<h5 class="text-center"><%=ins.razon%></h5>
									</div>
								<%end%>
									
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	

	<div class="fh5co-cta" style="background-image: url(<%=asset_path 'maestrias.jpg'%>);">
		<div class="overlay"></div>
		<div class="container">
			<div class="col-md-12 text-center ">
				<h2 style="color:#fff;">Confía en tu futuro, confía en PRONCADES</h2>
				<p><a href="/signup" class="btn btn-primary btn-outline with-arrow">Registrate ahora! <i class="icon-arrow-right"></i></a></p>
			</div>
		</div>
	</div>

	
