<%content_for :title do %>
 <title>Registro - Proncades</title>
<%end%>
<div class="fh5co-contact animate-box ">
		
<div class="container contenedor__registro ">


	<%if  notice%>
		<div class="alert alert-success fade in ">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<strong id="notice"><%= notice %></strong>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<%=link_to 'Revisa los métodos de pago,aquí' , pagos_url%>
			</div>
			
		</div>
		<%end%>
		

		<% if @person.errors.any? %>
	    <div id="error_explanation" class="alert alert-danger ">
	    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	      <h4><strong>Existen los siguientes problemas en tu solicitud:</strong></h4>

	      <ul>
	      <% @person.errors.full_messages.each do |message| %>
	        <li><%= message%></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>




<div class="row blue" style="border-bottom:1px solid #ddd">
	<div class="col-sm-12">
		<h2 >Registro</h2>
	</div>
</div >

<%if @programacion_actual%>
	<div class="row" style="border-bottom:1px solid #ddd" >
	<div class="col-sm-12">
		<h6>Deseas llevar el siguiente curso. ¿Correcto?</h6>
	</div>
		<div class="col-sm-6">
			<div class="card card-outline-primary text-xs-center" style="border-color:#0275d8; background:#0275d8;color:#fff;">
			<div>
		  <div class="card-block">
		      <p><%= @programacion_actual.course.titulo %></p> 
					
		      <cite title="Source Title">Por: <%= @programacion_actual.institution.razon%> </cite></div>
		  </div>
		</div>
		<div class="col-sm-12">
			<strong style="font-size:13px">Si deseas cambiar tu seleccion dirigete a  </strong> <%=link_to 'Cursos', cursos_url,{style:'color:#5cb85c;'}%>
		</div>
		</div>
		
<%else%>
	<div class="row">
	<div class="col-sm-6">
	</br>
		<div class="card" style="border:solid #0275d8 1px;">
		<div class="card-block">
			<p class="card-title"><%=link_to 'Selecciona un curso de tu interés', cursos_url,{style:'color:#5cb85c;'}%>, es requerido para <strong>registrarte</strong> </p>
		</div>
			
		</div>
	</div>
</div>
<%end%>


<div class="row">
	<div class="col-sm-12">
		<h5><strong style="color:#bbb">* Todos lo datos son requeridos</strong></h5>
	</div>
</div>

<%=form_for @person , {url:signup_path,:data=>{'parsley-validate':'true'}} do |p|%>

<div class="row  ">
	
	<div class="col-md-6">
	<div class="row">
		<div class="col-md-12">
		 <%= p.label 'Datos Personales'%></br>
			<div class="form-group">
			<%= p.text_field :nombres ,{class:'form-control',placeholder:'Nombre completo',required:true}%>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
			<%= p.text_field :ape_pat,{class:'form-control',placeholder:'Apellido Paterno',required:true}%>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
			<%= p.text_field :ape_mat,{class:'form-control',placeholder:'Apellido Materno',required:true}%>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
			<%= p.text_field :dni,{class:'form-control',placeholder:'DNI',required:true}%>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
			<%= p.text_field :celular,{class:'form-control',placeholder:'Celular',required:true}%>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
			<%= p.text_field :celular_op,{class:'form-control',placeholder:'Telefono (opcional)'}%>
			</div>
		</div>
		<div class="col-md-10">
			<div class="form-group">
			 <%= p.email_field :email ,{class:'form-control',placeholder:'Correo',required:true}%>
			</div>
		</div>

		<div class="col-md-12">
			<div class="form-group">
				<label>Fecha de nacimiento</label></br>
				<%=p.date_select(:f_nacimiento, {prompt: {day: 'Dia', month: 'Mes', year: 'Año'},start_year: 1940, end_year: Date.today.year,order: [:day, :month, :year]},{class:'form-control inline',style:'display:inline;width:auto',required:true})%>
			</div>
		</div>
	</div>

	<div class="col-md-12">
	<label>Genero</label>
		<div class="form-group">
			<div class="checkbox-inline">
				 <label><%= p.radio_button :sexo, true %> Hombre</label>
			</div>
			<div class="checkbox-inline">
				 <label><%= p.radio_button :sexo, false %> Mujer</label>
			</div>
		</div>
	</div>	
</div>
 
 	<div class="col-md-6">
 	
<div class="row">

	<div class="col-md-12">
		<div class="form-group">
		<label >Especifica tu ubicacion</label></br>
		 <%=select_tag "department_id", options_from_collection_for_select(@departamentos,"id","nombredep"),{class:'form-control'}%>
		</div>
	</div>
	<div class="col-md-12">
		<div class="form-group">
		<%= grouped_collection_select(:province,"province_id",@departamentos,:province,:nombredep,:id,:nombreprov,{class:'form-control'})%>

		</div>
	</div>
	<div class="col-md-12">
		<div class="form-group">
		<%=p.grouped_collection_select :district_id, @provincias, :district,:nombreprov,:id,:nombredist,{prompt:'Selecciona Distritos'},{class:'form-control',required:true}%>
		</div> 
</div>
 	<div class="col-md-12">
		<div class="form-group">
		<%= p.text_field :direccion,{class:'form-control',placeholder:'Dirección',required:true}%>
		</div>
	</div>
	<div class="col-md-12">
		<div class="form-group">
			<label >Educación</label></br>
			<%= p.text_field :profesion ,{class:'form-control',placeholder:'Profesion',required:true}%>
		</div>
	</div>
	<div class="col-md-12">
		<div class="form-group">
		<%= p.text_field :grado_acad ,{class:'form-control',placeholder:'Grado academico',required:true}%>
		</div>
	</div>
		

    <%if @programacion_actual%>
	    <div class="col-sm-12">
				<%= p.nested_fields_for :subsidiaries do |sub|%>
					<div class="form-group">
						<%=sub.hidden_field :programation_id ,{value:@programacion_actual.id}%>
					</div>
				<%end%>
			

				<div class="form-group">
				<%=p.submit 'Registrarse',{class:'btn btn-info'} %>
				</div>
			</div>

    <%else%>

    <%end%>
    

	
	
 
<%end%>

 </div>

</div>

</div>
</div>