<div class="panel">
<%= form_for([@course]) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :titulo %>
  <div class="form-group">
    <%= f.text_field :titulo, class:'form-control' %>
  </div>
  <%= f.label :contenido %><br>
  <div class="form-group">
    <%= f.text_area :contenido, class:'form-control',rows:'4' %>
  </div>
    <%= f.label 'Categoria' %>
  <div class="form-group">
    <%= f.select :category_id , options_from_collection_for_select(@categorias, "id", "nombre"),{},{class:'form-control'}%>
  </div>
    <%= f.label :fecha %>
  <div class="form-group">
    <%= f.date_select :fecha %>
  </div>
    <%= f.label :estado %><br>
  <div class="form-group">
    <%= f.check_box :estado %>
  </div>
  <div class="form-group">
    <%= f.label :imagen%>
    <%= f.file_field :imagen %>
  </div>
  <div class="form-group">
    <%= f.submit 'Guardar', {class:'btn btn-success'} %>
  </div>
<% end %>
