<p id="notice"><%= notice %></p>


<div class="container">
  <div class="row">

<div class="col-md-4 ">
      <h1>Lista de Cursos</h1>
      <%= form_tag courses_path, method: :get,remote:true,'data-type' => :json do %>
        <div class="form-group">
          <%= text_field_tag :filtro_cursos, params[:titulo_cur], class: "form-control", placeholder: "Filtrar Curso" %>
        </div>
       
      <% end %>
      <%= link_to 'Nuevo Curso', new_course_path ,class:'btn btn-success'%>
      <!--
      <h4>Las sgtes se muestran en la pag. principal:</h4>

      <div class="row">
      <div class="col-sm-12">
        <form class="form-horizontal">
          <div class="form-group">
          </div>
        </form>
      </div>
        <div class="col-sm-12">
          <%= text_field_tag :lista_categorias%>
        </div>
      </div>
      -->
    </div>

<div class="col-md-8">
<table class="table table-hover">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Categoria</th>
      <th>Instituciones</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="cuerpo_tabla_cursos">
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.titulo %></td>
        <td><%= course.category.nombre %></td>
        <td><%= course.programations.count %></td>
        
        <!--<td>
        <%= image_tag course.imagen.url(:thumb) %></td>-->
        <td><%= link_to 'Ver', course %></td>
        <td><%= link_to 'Editar', edit_course_path(course) %></td>
        <td><%= link_to 'Eliminar', course, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>


