
  <div class="panel">
      <%= form_for(@category) do |f| %>
        <% if @category.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

            <ul>
            <% @category.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

          <%= f.label :nombre %><br>
          <div class="form-group">
          <%= f.text_field :nombre, class:'form-control' %>
          </div>
          <%= f.label :descripcion %><br>
          <div class="form-group">
          <%= f.text_area :descripcion, {class:'form-control',rows:4}  %>
          </div>
          <%= f.label :estado %><br>
          <div class="form-group">
          <%= f.check_box :estado %>
          </div>
        <div class="form-group">
          <%= f.label :imagen%>
          <%= f.file_field :imagen %>
        </div>
        <div class="form-group">
          <%= f.submit 'Guardar', {class:'btn btn-success'}%>
        </div>
      <% end %>
</div>