<!DOCTYPE html>
<html>
<head>
  <title>WebCursos</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="fh5co-page">
<header id="fh5co-header" role="banner">
	<div class="container">
		<div class="header-inner">
			<h1><%= link_to 'Pronacades',root_path%></h1>
			<nav role="navigation">
				<ul>
					<li><a href="#fh5co-work-section">Servicios</a></li>
					<li><a href="/#precios">Precios</a></li>
					<li><a href="contacto">Contacto</a></li>
					<li class="cta"><a href="#">Inicia aquí</a></li>
				</ul>
			</nav>
		</div>
		<%if current_user%>
			<div class="container ">
				<div class="row">
					<div class="col-sm-12">
						<span>Hola, <strong> <%=current_user.username%> </strong>- </span><%=link_to 'Salir', logout_url%></br>
					</div>
				</div>
			</div>
		<%end%>
	</div>
</header>

<%= yield %>

</div>


</body>
</html>
